<% include partials/header %>

<div class="background-section">
    
     <div class="container date-money-section">
        
        <h3 id="date-display"></h3>
     
     <div class="income-section">
         <div class="weekly-income">
             <p class="income-title">Monthly Income<span class="income-tracker">+<%= monthTotal %></span></p>
         </div>
         <br>
         <div class="amount-owed">
              <p class="amount-title">Amount Owed<span class="amount-tracker">-<%= total %>
             
              </span></p>
         </div>
     </div>
      
  </div><!--END DATE AND INCOME SECTION -->
    
</div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 col-md-4 client-list">
                <h1 class="text-center client-list-header">Client List</h1>
                <hr class="list-break">
                  <div class="container-fluid add-client-section">
        <a href="/add-client" class="btn btn-lg btn-warning client-add">Add New Client</a>
    </div>

                <div id="client-names">
                    <!-- class="search" automagically makes an input a search field. -->
                  <input class="search" id="search" placeholder="Search" />
                    <!-- class="sort" automagically makes an element a sort buttons. The date-sort value decides what to sort by. -->
                    <br>
                    <br>
                  <button class="sort" data-sort="fname">
                    Sort By First Name
                  </button>
                    <button class="sort" data-sort="lname">
                  Sort by Last Name
                    </button>
                     <br>
                     <br>
                      <hr class="list-break first-break">
                    <ul class="list">  
                        <% clients.forEach(function(client) { %>
                          
                            <li>
                              
                                <span class="lname"><%= client.lname %></span>
                                <span class="fname"><%= client.fname %></span>
                                <br>
                                 <form class="delete-form" action="/clients/<%= client._id %>?_method=DELETE" method="POST">
                                 <button class="btn btn-danger btn-md"  data-id="<%= client._id %>" id="delete-client">Delete Client</button>
                                </form>
                               <a href="/clients/<%= client._id %>" data-id="<%= client._id %>" class="btn btn-primary btn-md view-client-button">View Client</a>
                            </li>
                       
                          <% }); %>
                       </ul>
                    </div>
                </div>
                
                <!--END CLIENT LIST SECTION -->
                
                <!--START CLIENT DETAILS SECTION -->
            
            <div class="col-sm-8 col-md-8 client-details">
                    <h1 class="text-center client-detail-header">Client Details</h1>
                    <hr class="breakpoint">
                  
                    <div class="container" id="display-data">
                         <h1 class="empty-client">Client data here</h1>
                    </div>

                    <hr class="breakpoint">
                    <span class="button-section">
                        <div class="edit-buttons">
                            
                        </div>
                        
                        <div class="make-payment">
                            
                        </div>
                    </span>
            </div>
        </div> <!-- END ROW -->
</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>

<% include partials/footer.ejs %>